{% extends 'intern/base.html' %}

{% block title %}
Magasin
{% endblock %}

{% block nav %}
<ul class="nav flex-column">
    <li class="my-nav-item active">
        <a class="my-nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
    </li>
    <li class="my-nav-item">
        <b>Magasin</b>
        <div class="my-nav-sub">
            <a class="my-nav-link" href="#">Enfants</a>
            <a class="my-nav-link" href="#">Magasin</a>

            <div class="my-nav-sub">
                <a class="my-nav-link" href="#">#Periscolaire</a>
                <a class="my-nav-link" href="#">#Septembre</a>
                <a class="my-nav-link" href="#">#Octobre</a>
                <a class="my-nav-link" href="#">#Novembre</a>
            </div>
        </div>
    </li>
    <li class="my-nav-item">
        <a class="my-nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
{% endblock %}

{% block main %}
<div id="Shop">

    <div id="ShopDemo" class="wrapper">
        <div class="wrapper-title">
            <p class="title">Démo Magasin</p>
        </div>

        <div class="wrapper-content">

            <!-- CONTROLS -->
            <div class="wrapper">
                <div class="wrapper-title">
                    <p class="title">Controls</p>
                </div>
            
                <div class="wrapper-content">
                    
                    <div class="Controls _Shop">
                        <div class="Controls-texts col-6">
                            <div class="">
                                <p><span class="controls-items_selected">0</span> produit(s) sélectionné(s)</p>
                            </div>
                        </div>

                        <div class="Controls-buttons col-6">
                            <button class="controls-cancel btn btn-danger" onclick="controlsCancel()">Annuler</button>
                            <button class="controls-previous btn btn-warning" onclick="controlsPrevious()">Retour</button>
                    
                            <button class="controls-continue btn btn-success" onclick="controlsContinue()">
                                Valider(<span class="controls-amount">0</span> €)
                            </button>
                    
                        </div>
                        <div class="Controls-buttons col-12">
                            <div class="Controls-alert alert alert-danger" role="alert"></div>
                        </div>
                    </div>

                    <div class="Controls _Summary">
                        <div class="Controls-texts col-6">
                            <div class="">
                                <p><span class="controls-items_selected">0</span> produit(s) sélectionné(s)</p>
                            </div>
                        </div>
            
                        <div class="Controls-buttons col-6">
                            <button class="controls-cancel btn btn-danger" onclick="controlsCancel()">Annuler</button>
                            <button class="controls-previous btn btn-warning" onclick="controlsPrevious()">Retour</button>
                            
                            <button class="controls-reserve btn btn-success" onclick="controlsReserve()">Réserver</button>
            
                            <button class="controls-pay btn btn-success" onclick="controlsPay()">
                                Payer(<span class="controls-amount">0</span> €)
                            </button>
            
                        </div>
                        <div class="Controls-buttons col-12">
                            <div class="Controls-alert alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DIR - INTELS -->
            <div class="wrapper">
                <div class="wrapper-title">
                    <p class="title">Dirs - Intels</p>
                </div>
            
                <div class="wrapper-content">
                    
                    <div class="Dir-Intels _Shop row">

                        <div class="Dir col-6">
                            <div class="card">
                                <label class="Dir-label"><b>Paiement directrices</b></label>
                                <input class="Dir-reference" type="text" placeholder="Référence" />
                            </div>
                        </div>
                        
                        <div class="Intels col-6">
                            <div class="card">
                                <div class="Intels-caster col-sm-">
                                    <label><b>Emetteur: </b></label>
                                    <span class="Intels__first_name"></span>
                                    <span class="Intels__last_name"></span>
                                </div>
                                <div class="Intels-parent col-sm-">
                                    <label><b>Parent: </b></label>
                                    <span class="Intels__first_name"></span>
                                    <span class="Intels__last_name"></span>
                                    - <span class="Intels__email"></span>
                                </div>
                                <div class="Intels-credit col-sm-">
                                    <label><b>Avoir: </b></label>
                                    <i><span class="Intels__credit">0</span></i> €
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Dir-Intels _Summary row">

                        <div class="Dir Dir-summary col-6">
                            <div class="card">
                                <label class="Dir-label"><b>Paiement directrices</b></label>
                                <label class="Dir-reference-label"></label>
                            </div>
                        </div>
                        
                        <div class="Intels col-6">
                            <div class="card">
                                <div class="Intels-caster col-sm-">
                                    <label><b>Emetteur: </b></label>
                                    <span class="Intels__first_name"></span>
                                    <span class="Intels__last_name"></span>
                                </div>
                                <div class="Intels-parent col-sm-">
                                    <label><b>Parent: </b></label>
                                    <span class="Intels__first_name"></span>
                                    <span class="Intels__last_name"></span>
                                    - <span class="Intels__email"></span>
                                </div>
                                <div class="Intels-credit col-sm-">
                                    <label><b>Avoir: </b></label>
                                    <i><span class="Intels__credit">0</span></i> €
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TABS (SUMMARY) -->
            <div class="wrapper">
                <div class="wrapper-title">
                    <p class="title">Tabs - Summary</p>
                </div>
            
                <div class="wrapper-content">
                    <div class="Tabs _Summary">
        
                        <div class="Tabs-header">
                            <ul class="Tabs-header-group"></ul>
                        </div>
                    
                        <div class="Tabs-body">
                            <ul class="Tabs-body-group"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TABS (SHOP) -->
            <div class="wrapper">
                <div class="wrapper-title">
                    <p class="title">Tabs - Shop</p>
                </div>
            
                <div class="wrapper-content">
                    <div class="Tabs _Shop">

                        <div class="Tabs-header">
                            <ul class="Tabs-header-group"></ul>
                        </div>
            
                        <div class="Tabs-body">
                            <ul class="Tabs-body-group"></ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="payment-modal" class="my-modal hide" tabindex="-1" role="dialog">
        <div class="my-modal-background"></div>
        
        <div class="my-modal-dialog">
            <div class="my-modal-content modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="payment-name">UPEEM - ALSH&PERI</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="span-close-modal">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div id="payment-alert" class="alert alert-danger" role="alert"></div>

                    <div>
                        <p>Montant: <b><span id="payment-amount"></span> €</b></p>
                    </div>

                    <form>
                        <fieldset class="form-group">
                            <legend class="col-form-label col-sm-2 pt-0">Espèce</legend>

                            <div class="form-group">
                                <input type="number" class="form-control" id="input-cash">
                            </div>
                        </fieldset>


                        <fieldset class="form-group">
                            <legend class="col-form-label col-sm-2 pt-0">Chèque</legend>

                            <div class="form-group">
                                <label for="input-check-amount">Montant</label>
                                <input type="number" class="form-control" id="input-check-amount">
                            </div>

                            <div class="form-group">
                                <label for="input-check-id">Identifiant</label>
                                <input type="text" class="form-control" id="input-check-id">
                            </div>
                        </fieldset>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="payment-button-close" onclick="closeModal()">Fermer</button>
                    <button type="button" class="btn btn-success" id="payment-button-save" onclick="modalPay()">Payer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/styles/Shop.css" />
{% endblock %}


{% block scripts %}
<script src="/static/scripts/Order.js"></script>
<script src="/static/scripts/Shop.js"></script>
<script src="/static/scripts/Product.js"></script>

<script>
    window.onload = function (e) {
        // On error
        const _message = '{{ message | safe }}';

        const _sibling = '{{ sibling | safe }}';
        const _products = '{{ products | safe }}';

        if (_message) {
            console.log(_message);
            return false;
        }

        App.init();
        
        // Prepare sibling
        sibling = JSON.parse(_sibling);

        // Prepare products
        productHelper.init(_products);

        //
        run();
    }


    function run () {

        // Sanity check
        console.log(sibling);
        console.log(productHelper.products());

        // Restore order from local storage
        const restore = restoreLocalStorage();

        
        // COMMON
        // Update Intels
        shopHelper.updateIntels(App.caster, sibling['parent']);
        

        // SHOP
        if (restore) {
            updateCartMeta(
                orderHelper.amount,
                orderHelper.peri.length + orderHelper.alsh.length
            );
        }

        // Add Children and Products to tab
        updateTab(sibling['children']);

        // Add tabs events
        updateEvents();

        // Update products from tickets (bought and reserved)
        tab_updateProducts(sibling['children']);

        // 
        tab_updateFromStorage();

        // 
        dir_listenInput();
        


        // SUMMARY
        if (restore) {

            /** 
             * Verify order with API
             *  Update cart meta
             *  Render results as HTML    
             */
            orderHelper.verify(
                verify_onSuccess,
                verify_onFailure
            );


        }
        else {
            updateStatus('Pas de commande en cours.');
        }

        // Update SHOP meta (cart/amount)
        // In fact amount should be calculated
        

        //
        dir_updateUI(orderHelper.reference);


        // Sanity check
        console.log('amount: ' + amount);
        console.log('items selected: ' + itemsSelected);


        // 


        


        

        // 
        shopHelper.initModal();
        shopHelper.modal_setAmount();
    }


    // Restore 
    function restoreLocalStorage () {
        // Get child ID
        const _child_id = parseInt(
            window.localStorage.getItem('shop_child')
        );

        if (!_child_id)
            return false;
        
        child_id = _child_id;

        // Get Order
        const _order = JSON.parse(
            window.localStorage.getItem('shop_order')
        );

        if (!_order)
            return false;


        orderHelper.fromLocalStorage(_order);

        return true;
    }


    //
    function verify_onSuccess (data) {
        // Update items selected and amount
        shopHelper.updateCartMeta (
            data['amount'],
            data['tickets'].length
        );

        // ... product
        updateTickets(data['tickets'], data['tickets_invalid']);
    }


    function verify_onFailure (err) {
        updateStatus('Echec lors de la vérification de la commande.');
        console.log(err);
    }
    
    
    /**
     * Controls, status and meta
     */

    function updateCartMeta (_amount, _itemsSelected) {
        amount += _amount;
        itemsSelected += _itemsSelected;

        shopHelper.updateCartMeta(amount, itemsSelected);
    }
     

    function updateStatus (status) {
        document
            .querySelectorAll('.Controls .Controls-alert')
            .forEach((item) => {
                item.innerHTML = status;
                item.classList.add('show');
            });
    }


    /**
     *  DIR Ref
    */
    function dir_listenInput() {
        document
            .querySelector('.Dir input.Dir-reference')
            .addEventListener('input', (e) => {
                if (e.target.value) {
                    orderHelper.setType('DIR');
                    orderHelper.setReference(e.target.value);
                }
                else {
                    orderHelper.setType('OFF');
                    orderHelper.setReference('');
                }
            });
    }


    function dir_updateUI(reference) {
        document.querySelector('.Dir-reference-label').innerHTML = reference;   
        if (reference)
            document.querySelector('.Dir-summary').classList.remove('hide');
    
        else
            document.querySelector('.Dir-summary').classList.add('hide');
    }


    /**
     *  Tabs
     */
    
    function updateTab (children) {
        console.log(children);

        Object.keys(children).forEach((key, index) => {
            const child = children[key];

            if (index === 0) {
                updateTabHeader(child['id'], child['first_name'], true);
                updateTabChild(child, true);
            }
            else {
                updateTabHeader(child['id'], child['first_name']);
                updateTabChild(child);
            }

        });
    }


    // 
    function updateTabHeader (id, name, active = false) {
        const li = document.createElement('li');

        li.setAttribute('data-id', id);
        // li.setAttribute('data-index', index);

        li.classList.add('Tabs-header-item');
        if (active)
            li.classList.add('active');

        // li.onclick = renderHeader_onClick
        li.innerHTML = name;

        // 
        document
            .querySelector('.Tabs._Shop .Tabs-header .Tabs-header-group')
            .appendChild(li);
    }


    /**
     * Check child age
     * Build body item
     */
    function updateTabChild (child, active = false) {
        const SCHOOL_MINUS6 = [
            'STP',
            'SP',
            'SM',
            'SG',
            // 'CP',
            // 'CE1',
            // 'CE2',
            // 'CM1',
            // 'CM2',
        ];

        const sub = (SCHOOL_MINUS6.includes(child['record']['classroom'])) ? 1 : 2;

        // Products
        let products_ul = document.createElement('ul');
            products_ul.className = 'Tabs-body-child-products';
            products_ul.setAttribute('data-id', child['id']);
            // products_ul.setAttribute('data-index', index);

        updateTabChildProducts(products_ul, sub);
            

        // Records
        let record_div = document.createElement('div');
            record_div.className = 'Tabs-body-child-record card';
            record_div.innerHTML = updateTabChildRecord(child['record']);

        let wrapper_content = document.createElement('div');
            wrapper_content.className = 'wrapper-content';

            wrapper_content.appendChild(record_div);
            wrapper_content.appendChild(products_ul);

        let title = document.createElement('p');
            title.className = 'title';
            title.innerHTML = child['first_name'];

        let wrapper_title = document.createElement('div');
            wrapper_title.className = 'wrapper-title';

            wrapper_title.appendChild(title);

        let wrapper = document.createElement('div');
            wrapper.className = 'wrapper';

            wrapper.appendChild(wrapper_title);
            wrapper.appendChild(wrapper_content);

        let li = document.createElement('li');
            li.className = 'Tabs-body-child ' + ((active) ? 'active' : '');
            li.setAttribute('data-id', child['id']);


            li.appendChild(wrapper);


        document
            .querySelector('.Tabs._Shop .Tabs-body .Tabs-body-group')
            .appendChild(li);
            
    }


    // Add record to a child
    function updateTabChildRecord (record) {
        const classroom = record['classroom'];
        const quotient_q1 = record['caf']['q1'];
        const quotient_q2 = record['caf']['q2'];

        return `<div class="card-body">
                    <li><b>Ecole: </b>          <span class="record-school">        ${record['school']}</span></li>
                    <li><b>Classe: </b>         <span class="record-classroom">     ${classroom}</span></li>
                    <li><b>Quotient 2019: </b>  <span class="record-quotient-q1">   ${quotient_q1}</span></li>
                    <li><b>Quotient 2020: </b>  <span class="record-quotient-q2">   ${quotient_q2}</span></li>
                </div>`;
    }


    // Add products to a child
    function updateTabChildProducts (ul, sub) {
        let snippet = '';

        const categories = productHelper.categories();
        
        Object.keys(categories).forEach((key) => {
            if (key !== '0') {
                const category = categories[key];

                // Create HTML element 
                const li = document.createElement('li');
                    li.className = 'product-category';
                    li.setAttribute('data-category', key);
                    li.innerHTML = `<h3 class="product-category-title">${category.name}</h3><ul class="product-category-products"></ul>`;

                const group = li.querySelector('.product-category-products');

                // SELECT ALL - Only for ALSH
                // if (key !== '1') {
                //     group.appendChild(
                //         productHelper.createFromProduct('main', {'name': 'Tout sélectionner'})
                //     );
                // }
                
                // Add products to HTML category
                category['products'].forEach((id) => {
                    const product = productHelper.get(id);

                    if (product) {
                        // PERI
                        if (product.category === 1) {
                            group.appendChild(
                                productHelper.createFromProduct('normal', product)
                            );
                        }
                        // ALSH
                        // Check subcategory (MINUS 6 or PLUS 6)
                        else {
                            if (product.subcategory === sub) {
                                group.appendChild(
                                    productHelper.createFromProduct('normal', product)
                                );
                            }
                        }
                    }

                });

                ul.appendChild(li);
    
                // let type = 'normal';
                // let _products = undefined;
                // let snippet_products = '';
    
                // if (key === '1') {
                //     _products = category;
                // }
                // else {
                //     _products = category[sub];
                // }

                // for (let i = 0; i < _products.length; ++i)
                //     snippet_products += createProduct(type, _products[i]);
    
                // snippet += `<li class="product-category" data-category=>
                //                 <h3 class="product-category-title">${category.name, title}</h3>
                //                 <ul class="product-category-products">${snippet_products}</ul>
                //             </li>`;
            }
        });

        return snippet;
    }


    /**
     * Add events for 
     *  Switch tab
     *  Toggle product to cart
     */
    function updateEvents () {
        // Tab header events
        document
            .querySelectorAll('.Tabs._Shop .Tabs-header .Tabs-header-item')
            .forEach(item => item.addEventListener('click', (e) => {

                // Unset active items 
                document.querySelector('.Tabs-header-item.active').classList.remove('active');
                document.querySelector('.Tabs-body-child.active').classList.remove('active');

                // Find target ID
                const id = e.target.getAttribute('data-id');

                // Set new active items
                e.target.classList.add('active');
                document.querySelector(`.Tabs-body-child[data-id="${id}"]`).classList.add('active');
            }));


        // Product tile event
        document
            .querySelectorAll('.Tabs._Shop .Tabs-body .product-tile')
            .forEach((item) => {
                item.addEventListener('click', function (e) {
                    e.preventDefault();

                    let target = e.target;
                    while (!target.classList.contains('product-tile')) {
                        target = target.parentElement;
                    }

                    // console.log(target);

                    const product_id = target.getAttribute('data-id');
                    // const child_id = target.parentElement.parentElement.parentElement.getAttribute('data-id');

                    document.querySelectorAll('.Tabs-body-child').forEach((item) => {
                        if (item.querySelector(`.product-tile[data-id="${product_id}"]`) === target) {

                            // console.log(item.getAttribute('data-id'));
                            toggleProduct(item.getAttribute('data-id'), product_id);
                        }
                    });

                    // toggleProduct(child_id, product_id);
                });
            });
    }


    // 
    function tab_updateProducts (children) {
        Object.values(children).forEach((child) => {
            child.tickets.forEach((ticket) => {
                productHelper.updateFromTicket(ticket);
            });
        });
    }


    // Process Order data for SHOP
    function tab_updateFromStorage () {
        orderHelper.peri.forEach((month) => {
            const product = productHelper.get(month.product);

            if (product) {

                amount += product.price * month.children.length;
                itemsSelected += month.children.length;
                
                // Update HTML tile
                month.children.forEach((child) => {
                    productHelper.updateProductType('selected', product, child);
                });
            }
            
        });
    }



    
    /**
     *  Tiles and logics
     */

    function toggleProduct (child_id, product_id) {
        var target = document.querySelector(`.Tabs-body-child[data-id="${child_id}"] .product-tile[data-id="${product_id}"]`);

        if (target.classList.contains('normal') ||
            target.classList.contains('selected')) {

            if (toggleProduct_item(parseInt(child_id), parseInt(product_id))) {
                target.className = 'product-tile selected';
            }
            else {
                target.className = 'product-tile normal';
            }
        }
        else if (target.classList.contains('main')) {

        }

        return;
    }


    function toggleProduct_item (child_id, product_id) {
        // console.log('child_id: ' + child_id);
        // console.log('product_id: ' + product_id);
        
        // Product lookup
        let product = productHelper.get(product_id);

        if (!product) {
            console.log('products === undefined')
            return 0;
        }

        let is_selected = false;

        // PERI
        if (product['category'] === 1)
            is_selected = togglePeri(product_id, child_id)
        else
            is_selected = toggleAlsh(product_id, child_id)


        // Update Cart Meta
        if (is_selected) {
            updateCartMeta(product['price'], 1);
        }
        else {
            updateCartMeta(-product['price'], -1);
        }

        console.log(orderHelper.peri);
        console.log(orderHelper.alsh);

        // updateCartMeta();
        // cart_save();

        return is_selected;
    }


    function togglePeri(product, child) {
        const _peri = orderHelper.peri;

        // Cart lookup
        for (var i = 0; i < _peri.length; ++i) {
            const month = _peri[i];

            // If product exist
            // Check child is in
            if (month['product'] === product) {

                let index = -1;

                // if child not in - add him
                if ((index = month['children'].indexOf(child)) === -1) {
                    month['children'].push(child);
                    return true;
                }

                // If child is in - remove him
                else {
                    month['children'].splice(index, 1);

                    // if children list is empty remove it
                    if (!month['children'].length)
                        _peri.splice(i, 1);

                    return false;
                }
            }
        }

        // if cart was not found
        _peri.push({
            'product': product,
            'children': [child]
        });

        return true;
    }


    function toggleAlsh(product, child) {
        const _alsh = orderHelper.alsh;
        
        // Cart lookup
        for (var i = 0; i < _alsh.length; ++i) {

            // If product exist
            // Check child is in
            if (_alsh[i]['child'] === child) {

                let index = -1;

                // if child not in - add him
                if ((index = _alsh[i]['products'].indexOf(product)) === -1) {
                    _alsh[i]['products'].push(product);
                    return true;
                }

                // if product is in - remove him
                else {
                    _alsh[i]['products'].splice(index, 1);

                    // if products list is empty remove it
                    if (!_alsh[i]['products'].length)
                        _alsh.splice(i, 1);

                    return false;
                }
            }
        }

        // if cart was not found
        _alsh.push({
            'child': child,
            'products': [product]
        });

        return true;
    }


    /**
     * SUMMARY 
     */
    
    // Add tickets to HTML after verifications 
    function updateTickets(tickets, tickets_invalid) {
        const childrenTickets = {};

        // Sort tickets by child
        for (let i = 0; i < tickets.length; ++i) {
            const ticket = tickets[i];

            if (!childrenTickets[ticket.payee])
                childrenTickets[ticket.payee] = {
                    'valid': [],
                    'invalid': []
                };

            childrenTickets[ticket.payee]['valid'].push(ticket);
        }

        for (let i = 0; i < tickets_invalid.length; ++i) {
            const ticket = tickets_invalid[i];

            if (!childrenTickets[ticket.payee])
                childrenTickets[ticket.payee] = {
                    'valid': [],
                    'invalid': []
                };

            childrenTickets[ticket.payee]['invalid'].push(ticket);
        }

        // Create UI
        const body = document.querySelector('#Tabs-Summary #Tabs-body .Tabs-body-group');
        Object.keys(childrenTickets).forEach((id) => {

            const child = sibling['children'][id];
            
            const tickets = childrenTickets[id]['valid'];
            const tickets_invalid = childrenTickets[id]['invalid'];

            // Create wrapper
            const wrapper = document.createElement('div');
                wrapper.className = 'wrapper';
                // wrapper.setAttribute('data-index', i);
                wrapper.setAttribute('data-child', id);
                wrapper.innerHTML = `<div class="wrapper-title">
                        <p class="title">${child['first_name']}</p>
                    </div>
                    <div class="wrapper-content">
                        <ul class="product-category-products"></ul>
                    </div>`;


            const content = wrapper.querySelector('.product-category-products');

            // Add tickets
            tickets.forEach((ticket) => {
                const product = productHelper.get(ticket.product);

                if (product) {
                    content.appendChild(
                        productHelper.createFromProduct('summary-ok', product)
                    );
                }
            });

            // Add invalid tickets
            tickets_invalid.forEach((ticket) => {
                const product = productHelper.get(ticket.product);
                
                if (product) {
                    content.appendChild(
                        productHelper.createFromProduct('summary-ban', product)
                    );
                }
            });

            body.appendChild(wrapper);
        });
    }



    /**
     * Controls events and logics
     * 
     */

    // Useless - see events in HTML
    function controlsEvents() {
        document.querySelector('#Controls .controls-cancel')
            .addEventListener('click', controlsCancel);

        document.querySelector('#Controls .controls-previous')
            .addEventListener('click', controlsPrevious);

        document.querySelector('#Controls .controls-continue')
            .addEventListener('click', controlsContinue);
    }

    
    function controlsCancel() {
        window.localStorage.removeItem('shop_child');
        window.localStorage.removeItem('shop_order');

        window.close();
    }


    function controlsPrevious () {
        window.close();
    }


    function controlsContinue () {
        // Check if order is correct
        if (orderHelper.caster === 0 ||
            orderHelper.payer === 0) {
            updateStatus ('Casteur ou payeur non défini.');
            return false;
        }
        
        // Check if dir payment
        if (orderHelper.type === 'DIR') {
            if (!order['reference']) {
                updateStatus('Pas de référence pour le paiement.');
                return false;
            }
        }
        else if (orderHelper.type === 'OFF') {
            orderHelper.reference = '';
        }
        else {
            updateStatus('Type de paiement inconnu.');
            return false;
        }

        // Check if there is products
        if (!orderHelper.peri.length &&
            !orderHelper.alsh.length) {
            updateStatus('Veuillez sélectionner au moins un produit.');
            return false;
        }

        const order = orderHelper.toLocalStorage()
        console.log(order);
        window.localStorage.setItem('shop_order', JSON.stringify(order));

        const child = window.localStorage.getItem('shop_child');
        // window.location = '/intern/shop/summary/' + child;
    }


    function controlsReserve () {
        console.log( orderHelper.reserve());
    }


    function controlsPay () {

        openModal();
    }


    


    /*
        GLOBAL
    */
   
   // SHOP only
   var amount = 0;
   var itemsSelected = 0;
   
   
   // COMMON
   var child_id = 0;
   var sibling = {};

    var orderHelper = new Order();
    var shopHelper = new Shop();
    var productHelper = new Product();

    const CATEGORIES = [
        'UNSET',
        'PERISCOLAIRE',
        'JANVIER',
        'FEVRIER',
        'MARS',
        'AVRIL',
        'MAI',
        'JUIN',
        'JUILLET',
        'AOUT',
        'SEPTEMBRE',
        'OCTOBRE',
        'NOVEMBRE',
        'DECEMBRE',
        'TOUSSAINT',
        'NOEL',
        'CARNAVAL',
        'PAQUES',
        'GRDS VACANCES JUILLET',
        'GRDS VACANCES AOUT'
    ];
</script>
{% endblock %}