<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
input{border: none; font-size: 10.1px;font-style:normal;text-decoration: none}
span.cls_002{font-family:"DejaVu Sans Condensed Bold",serif;font-size:11px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:"DejaVu Sans Condensed Bold",serif;font-size:11px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:"DejaVu Sans Condensed",serif;font-size:9px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"DejaVu Sans Condensed",serif;font-size:9px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:"DejaVu Sans Condensed Bold",serif;font-size:13px;color:rgb(200,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:"DejaVu Sans Condensed Bold",serif;font-size:13px;color:rgb(200,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:"DejaVu Sans Condensed",serif;font-size:11px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:"DejaVu Sans Condensed",serif;font-size:11px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:"DejaVu Sans Condensed",serif;font-size:20px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:"DejaVu Sans Condensed",serif;font-size:20px;background-color:rgb(200,0,0);font-weight:normal;font-style:normal;text-decoration: none;padding-left: 100;padding-right: 100;}
span.cls_007{font-family:"DejaVu Sans Condensed Bold",serif;font-size:9px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:"DejaVu Sans Condensed Bold",serif;font-size:9px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:"DejaVu Sans Condensed",serif;font-size:8px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:"DejaVu Sans Condensed",serif;font-size:8px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:"DejaVu Sans Condensed Bold",serif;font-size:15px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:"DejaVu Sans Condensed Bold",serif;font-size:15px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_015{font-family:"DejaVu Sans Condensed Bold",serif;font-size:11px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_015{font-family:"DejaVu Sans Condensed Bold",serif;font-size:11px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_016{font-family:"DejaVu Sans Condensed",serif;font-size:11px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_016{font-family:"DejaVu Sans Condensed",serif;font-size:11px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:"DejaVu Sans Condensed",serif;font-size:9px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:"DejaVu Sans Condensed",serif;font-size:9px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:"DejaVu Sans Condensed Bold",serif;font-size:9px;color:rgb(0,0,200);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:"DejaVu Sans Condensed Bold",serif;font-size:9px;color:rgb(0,0,200);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:"DejaVu Sans Condensed Bold",serif;font-size:9px;color:rgb(200,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:"DejaVu Sans Condensed Bold",serif;font-size:9px;color:rgb(200,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:"DejaVu Sans Condensed",serif;font-size:9px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_014{font-family:"DejaVu Sans Condensed",serif;font-size:9px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:"DejaVu Sans Condensed Bold",serif;font-size:9px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_017{font-family:"DejaVu Sans Condensed Bold",serif;font-size:9px;color:rgb(3,3,3);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:"DejaVu Sans Condensed",serif;font-size:10px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:"DejaVu Sans Condensed",serif;font-size:10px;color:rgb(3,3,3);font-weight:normal;font-style:normal;text-decoration: none}
hr.cls_hr{position: absolute;top: 80;width: 45%;left: 2%;}
table {
  border-collapse: collapse;
  width: 395px;
}
table, th,td{ text-decoration: black;border: 1px solid black;font-family:"DejaVu Sans Condensed",serif;font-size:9.1px;color:rgb(3,3,3);font-weight:normal;font-style:normal;}
tr{height: 18px; vertical-align:middle;}
td{vertical-align:middle;}
p{ text-align: justify;}

-->
</style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-420px;top:0px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div>
    <div style="position:absolute;left:25px;top:15px"><img src="img/logoUpem561px-300x300.png" width="20%" ></div>
    <div style="position:absolute;left:87.87px;top:13.61px" class="cls_002"><span class="cls_002">Union des Parents d'Elèves de Martinique</span></div>
    <div style="position:absolute;left:87.87px;top:27.84px" class="cls_003"><span class="cls_003">28, Boulevard Allègre - 97200 F de F</span></div>
    <div style="position:absolute;left:87.87px;top:39.18px" class="cls_003"><span class="cls_003">Tél. : 0596 60 95 95 - Fax : 0596 71 76 05</span></div>
    <div style="position:absolute;left:87.87px;top:50.52px" class="cls_003"><span class="cls_003">Site : </span><A HREF="http://www.upem.mq/">www.upem.mq</A> </div>
    <div style="position:absolute;left:87.87px;top:61.85px" class="cls_003"><span class="cls_003">Courriel : periscolaire.stjo@upem.mq</span></div>
    <div style="position:absolute;left:31.18px;top:107.15px" class="cls_002"><span class="cls_002">Accueil périscolaire de :</span><span class="record_school"></span></div>
    <div style="position:absolute;top:126.70px;" class="cls_005"><div style="position: absolute;left:103.93px;padding-left: 40%;" ></div><span class="cls_005">FICHE D'INSCRIPTION</span></div>
    <div style="position:absolute;left:180.88px;top:155.34px" class="cls_004"><span class="record_school_year"</span></div>
    <div style="position:absolute;left:31.18px;top:183.97px" class="cls_004"><input type="checkbox" class="record_accueil_mati" /></div>
    <div style="position:absolute;left:55px;top:188px" class="cls_004"><span class="cls_004">MATIN/SOIR</span></div>
    <div style="position:absolute;left:130.39px;top:183.97px" class="cls_004"><input type="checkbox" class="record_accueil_midi" /></div>
    <div style="position:absolute;left:155px;top:188px" class="cls_004"><span class="cls_004">MIDI</span></div>
    <div style="position:absolute;left:190.39px;top:183.97px" class="cls_004"><input type="checkbox" class="record_accueil_merc" /></div>
    <div style="position:absolute;left:215px;top:188px" class="cls_004"><span class="cls_004">MERCREDI</span></div>
    <div style="position:absolute;left:280px;top:183.97px" class="cls_004"><input type="checkbox" class="record_accueil_vacs" /></div>
    <div style="position:absolute;left:305px;top:188px" class="cls_004"><span class="cls_004">VACANCES</span></div>
    <div style="position:absolute;left:31.18px;top:211.97px" class="cls_006"><span class="cls_006">VOTRE ENFANT :</span></div>
    <div style="position:absolute;left:31.18px;top:226.21px" class="cls_002"><span class="cls_002">Nom :</span><span class="record_child_last_name" value="NOM ENFANT" </span></div>
    <div style="position:absolute;left:215.43px;top:226.21px" class="cls_002"><span class="cls_002">Prénom :</span><span class="record_child_first_name"></span></div>
    <div style="position:absolute;left:31.18px;top:240.38px" class="cls_002"><span class="cls_002">Né(e) le :</span><span class="record_child_dob"></span></span></div>
    <div style="position:absolute;left:215.43px;top:240.38px" class="cls_002"><span class="cls_002">A :</span><span class="record_child_birthplace"></span></div>
    <div style="position:absolute;left:31.18px;top:254.55px" class="cls_002"><span class="cls_002">Sexe :</span><span class="record_child_gender"></span></div>
    <div style="position:absolute;left:215.43px;top:254.55px" class="cls_002"><span class="cls_002">Classe ou section :</span><span class="record_classroom"></span></div>
    <div style="position:absolute;left:31.18px;top:282.84px" class="cls_006"><span class="cls_006">RESPONSABLE LEGAL N°1 :</span></div>
    <div style="position:absolute;left:31.18px;top:297.07px" class="cls_004"><span class="cls_004">Responsable :</span><span class="cls_002">  Père - Mère - Tuteur</span></div>
    <div style="position:absolute;left:229.61px;top:297.07px" class="cls_004"><span class="cls_004">(Rayer les mentions inutiles)</span></div>
    <div style="position:absolute;left:31.18px;top:311.25px" class="cls_002"><span class="cls_002">Nom :</span><span class="record_resp1_last_name"></span></div>
    <div style="position:absolute;left:215.43px;top:311.25px" class="cls_002"><span class="cls_002">Prénom :</span><span class="record_resp1_first_name"></span></div>
    <div style="position:absolute;left:31.18px;top:325.42px" class="cls_002"><span class="cls_002">Adresse :</span><span class="record_resp1_address1"></span><span class="record_resp1_address2"></span></div>
    <div style="position:absolute;left:31.18px;top:339.59px" class="cls_002"><span class="cls_002">Code Postal :</span><span class="record_resp1_zip"></span></div>
    <div style="position:absolute;left:215.43px;top:339.59px" class="cls_002"><span class="cls_002">Commune :</span><span class="record_resp1_city"></span></div>
    <div style="position:absolute;left:31.18px;top:353.76px" class="cls_002"><span class="cls_002">Tél. (Domicile) :</span></div>
    <div style="position:absolute;left:130.39px;top:353.76px" class="cls_004"><span class="record_resp1_phone_home"></span></div>
    <div style="position:absolute;left:215.43px;top:353.76px" class="cls_002"><span class="cls_002">Tél. (Pro.) :</span></div>
    <div style="position:absolute;left:286.30px;top:353.76px" class="cls_004"><span class="record_resp1_phone_pro"></span></div>
    <div style="position:absolute;left:31.18px;top:367.94px" class="cls_002"><span class="cls_002">Tél. (Portable) :</span></div>
    <div style="position:absolute;left:130.39px;top:367.94px" class="cls_004"><span class="record_resp1_phone_cell"></span></div>
    <div style="position:absolute;left:31.18px;top:382.11px" class="cls_002"><span class="cls_002">Courriel :</span><span class="record_resp1_email"></span></div>
    <div style="position:absolute;left:513.07px;top:387.78px" class="cls_004"><span class="cls_004">Je n'autorise pas L'UPEEM à photographier et/ou à filmer</span></div>
    <div style="position:absolute;left:31.18px;top:396.28px" class="cls_002"><span class="cls_002">Profession :</span><span class="record_resp1_job"></span></div>
    <div style="position:absolute;left:31.18px;top:424.57px" class="cls_006"><span class="cls_006">RESPONSABLE LEGAL N°2 :</span></div>
    <div style="position:absolute;left:31.18px;top:438.80px" class="cls_004"><span class="cls_004">Responsable :</span><span class="cls_002">  Père - Mère - Tuteur</span></div>
    <div style="position:absolute;left:229.61px;top:438.80px" class="cls_004"><span class="cls_004">(Rayer les mentions inutiles)</span></div>
    <div style="position:absolute;left:428.03px;top:442.80px" class="cls_004"><span class="cls_004">à sa réputation.</span></div>
    <div style="position:absolute;left:31.18px;top:452.98px" class="cls_002"><span class="cls_002">Nom :</span><span class="record_resp2_last_name"></span></div>
    <div style="position:absolute;left:215.43px;top:452.98px" class="cls_002"><span class="cls_002">Prénom :</span><span class="record_resp2_first_name"></span></div>
    <div style="position:absolute;left:31.18px;top:467.15px" class="cls_002"><span class="cls_002">Adresse :</span> <span class="record_resp2_address1"></span><span class="record_resp2_address2"></span></div>
    <div style="position:absolute;left:31.18px;top:481.32px" class="cls_002"><span class="cls_002">Code Postal :</span><span class="record_resp2_zip"></span></div>
    <div style="position:absolute;left:215.43px;top:481.32px" class="cls_002"><span class="cls_002">Commune :</span><span class="record_resp2_city"></span></div>
    <div style="position:absolute;left:31.18px;top:495.50px" class="cls_002"><span class="record_resp2_phone_home">Tél. (Domicile) :</span></div>
    <div style="position:absolute;left:130.39px;top:495.50px" class="cls_004"><span class="cls_004"></span></div>
    <div style="position:absolute;left:215.43px;top:495.50px" class="cls_002"><span class="cls_002">Tél. (Pro.) :</span></div>
    <div style="position:absolute;left:286.30px;top:495.50px" class="cls_004"><span class="record_resp2_phone_pro"></span></div>
    <div style="position:absolute;left:31.18px;top:509.67px" class="cls_002"><span class="cls_002">Tél. (Portable) :</span></div>
    <div style="position:absolute;left:130.39px;top:509.67px" class="cls_004"><span class="record_resp2_phone_cell"></span></span></div>
    <div style="position:absolute;left:31.18px;top:523.84px" class="cls_002"><span class="cls_002">Courriel :</span><span class="record_resp2_email"></span></div>
    <div style="position:absolute;left:31.18px;top:538.02px" class="cls_002"><span class="cls_002">Profession :</span><span class="record_resp2_job"></span></div>
</div>
<div>
    <div style="position:absolute;left:428.03px;top:27.72px" class="cls_006"><span class="cls_006">RENSEIGNEMENTS ADMINISTRATIFS</span></div>
    <div style="position:absolute;left:428.03px;top:41.95px" class="cls_002"><span class="cls_002">N° d'allocataire :</span><span class="intel_CAF"></span></div>
    <div style="position:absolute;left:428.03px;top:56.13px" class="cls_002"><span class="cls_002">Société d'assurance :</span><span class="insurance_socity"></span></div>
    <div style="position:absolute;left:428.03px;top:70.30px" class="cls_002"><span class="cls_002">N° de police :</span><span class="intel_police"></span></div>
    <div style="position:absolute;left:428.03px;top:98.59px" class="cls_006"><span class="cls_006">RESPONSABILITE</span></div>
    <div style="position:absolute;left:428.03px;top:112.82px" class="cls_004"><span class="cls_004">Personnes chargées de récupérer l'enfant aux heures de sorties</span></div>
    <div style="position:absolute;left:428.03px;top:126.99px" class="cls_004"><span class="cls_004">(autres que les parents)</span></div>
    <div style="position:absolute;left:428.03px;top:141.17px" class="cls_002"><span class="cls_002">Nom Prénom :</span><span class="record_recup1_names" ></span></div>
    <div style="position:absolute;left:428.03px;top:155.34px" class="cls_002"><span class="cls_002">Tél. :</span><span class="record_recup1_phones"></span> </div>
    <div style="position:absolute;left:428.03px;top:169.51px" class="cls_002"><span class="cls_002">Nom Prénom :</span><span class="record_recup2_names"></span></div>
    <div style="position:absolute;left:428.03px;top:183.69px" class="cls_002"><span class="cls_002">Tél. :</span><span class="record_recup2_phones"></span></div>
    <div style="position:absolute;left:428.03px;top:197.86px" class="cls_002"><span class="cls_002">Nom Prénom :</span><span class="record_recup3_names"></span></div>
    <div style="position:absolute;left:428.03px;top:212.03px" class="cls_002"><span class="cls_002">Tél. :</span><span class="record_recup3_phones"></span></div>
    <div style="position:absolute;left:428.03px;top:240.32px" class="cls_006"><span class="cls_006">AUTORISATION DE TRANSPORT POUR RAISONS DE SANTE</span></div>
    <div style="position:absolute;left:428.03px;top:254.55px" class="cls_004"><span class="cls_004">Je soussigné(e) Madame, Monsieur </span> <span class="record_resp1_last_name"></span><span class=record_resp1_first_name""></span></div>
    <div style="position:absolute;left:428.03px;top:268.73px" class="cls_004"><span class="cls_004">Mère / Père / Tuteur de l'enfant</span>  <span class="record_child_last_name"></span><span class="record_child_first_name"></span></div>
    <div style="position:absolute;left:425px;top:285px" class="cls_004"><input type="checkbox" class="record_health_auth_transp_y" /></div>
    <div style="position:absolute;left:448px;top:288.57px" class="cls_004"><span class="cls_004">Autorise </span></div>
    <div style="position:absolute;left:490px;top:285px" class="cls_004"><input type="checkbox" class="record_health_auth_transp_n" /></div>
    <div style="position:absolute;left:513.07px;top:288.57px" class="cls_004"><span class="cls_004">N'autorise pas L'UPEEM à remettre mon enfant aux pompiers</span></div>
    <div style="position:absolute;left:428.03px;top:302.74px" class="cls_004"><span class="cls_004">et/ou au Samu afin d'être transporté d'urgence au centre hospitalier le</span></div>
    <div style="position:absolute;left:428.03px;top:316.91px" class="cls_004"><span class="cls_004">plus proche en cas de problèmes de santé ou de blessures jugées graves</span></div>
    <div style="position:absolute;left:428.03px;top:329.41px" class="cls_004"><span class="cls_004">par la directrice de l'accueil périscolaire.</span></div>
    <div style="position:absolute;left:428.03px;top:367.88px" class="cls_006"><span class="cls_006">DROIT A L'IMAGE</span></div>
    <div style="position:absolute;left:425px;top:384px" class="cls_004"><input type="checkbox" class="record_auth_image_y" /></div>
    <div style="position:absolute;left:448px;top:387.78px" class="cls_004"><span class="cls_004">J'autorise </span></div>
    <div style="position:absolute;left:490px;top:384px" class="cls_004"><input type="checkbox" class="record_auth_image_n" /></div>
    <div style="position:absolute;left:513.07px;top:387.78px" class="cls_004"><span class="cls_004">Je n'autorise pas L'UPEEM à photographier et/ou à filmer</span></div>
    <div style="position:absolute;left:428.03px;top:401.95px" class="cls_004"><span class="cls_004">mon enfant au cours des activités périscolaires dans un cadre strictement</span></div>
    <div style="position:absolute;left:428.03px;top:416.13px" class="cls_004"><span class="cls_004">pédagogique.</span></div>
    <div style="position:absolute;left:428.03px;top:430.30px" class="cls_004"><span class="cls_004">Les photographies ne porteront pas atteinte à sa dignité, à sa vie privée et</span></div>
    <div style="position:absolute;left:428.03px;top:442.80px" class="cls_004"><span class="cls_004">à sa réputation.</span></div>
</div>
</div>

<div style="position:absolute;left:50%;margin-left:-420px;top:605px;width:841px;height:595px;border-style:outset;overflow:hidden">
<div style="position:left;">
    <div style="position:absolute;left:25px;top:22px"><img src="img/logo-ministere-de-la-jeunesse-et-des-sports.jpg" width=60% ></div>
    <div style="position:absolute;left:100.46px;top:56.13px" class="cls_004"><span class="cls_004">MINISTERE DE LA JEUNESSE ET DES SPORTS</span></div>
    <div style="position:absolute;left:131.53px;top:70.36px" class="cls_003"><span class="cls_003">Code de l'Action Sociale et des Familles</span></div>
    <div style="position:absolute;left:345.83px;top:70.67px" class="cls_008"><span class="cls_008">N° 10008*02</span></div>
    <hr class="cls_hr" />
    <div style="position:absolute;left:96.30px;top:98.53px" class="cls_009"><span class="cls_009">FICHE SANITAIRE DE LIAISON</span></div>
    <div style="position:absolute;left:31.18px;top:126.99px" class="cls_004"><span class="cls_004">Nom :</span> <span class="record_child_last_name" ></span></div>
    <div style="position:absolute;left:215.43px;top:126.99px" class="cls_004"><span class="cls_004">Prénom : </span><span class="record_child_first_name" ></span></div>
    <div style="position:absolute;left:31.18px;top:141.17px" class="cls_004"><span class="cls_004">Né(e) le :</span></div>
    <div style="position:absolute;left:87.87px;top:141.17px" class="cls_004"><span class="record_child_dob" ></span></div>
    <div style="position:absolute;left:215.43px;top:141.17px" class="cls_004"><span class="cls_004">Sexe :  </span><span class="record_child_gender"></span></div>
    
    <div style="position: absolute; top: 160px; left: 20px;">
    <table>
        <tr><th>VACCINS <br> OBLIGATOIRES</th>
        <th>OUI</th>
        <th>NON</th>
        <th>DATES DES DERNIERS <br> RAPPELS</th>
        <th>VACCINS <br> RECOMMANDES</th>
        <th>DATES</th></tr>

        <tr>
        <td>Diphtérie</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Hépatite B</td>
        <td></td>
        </tr>
        
        <tr>
        <td>Tétanos</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Rubéole-Oreillons <br>Rougeole</td>
        <td></td>
        </tr>

        <tr>
        <td>Poliomyélite</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Coqueluche</td>
        <td></td>
        </tr>

        <tr>
        <td>Ou DT Polio </td>
        <td></td>
        <td></td>
        <td></td>
        <td>Autres (préciser)</td>
        <td></td>
        </tr>

        <tr>
        <td>Ou Tetracoq</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>

        <tr>
        <td>BCG</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>

    </table>
    </div>
    <div style="position:absolute;left:20px;top:319.81px" class="cls_003"><span class="cls_003">SI L'ENFANT N'A PAS LES VACCINS OBLIGATOIRES, JOINDRE UN CERTIFICAT MÉDICAL DE</span></div>
    <div style="position:absolute;left:20px;top:329.81px" class="cls_003"><span class="cls_003">CONTRE-INDICATION</span></div>
    <div style="position:absolute;left:20px;top:348.15px" class="cls_011"><span class="cls_011">ATTENTION :</span><span class="cls_003">LE VACCIN ANTI-TETANIQUE NE PRESENTE AUCUNE CONTRE-INDICATION !</span></div>
    <div style="position:absolute;left:20px;top:368.00px" class="cls_012"><span class="cls_012">2 - RENSEIGNEMENTS MEDICAUX CONCERNANT L'ENFANT</span></div>
    <div style="position:absolute;left:20px;top:382.17px" class="cls_003"><span class="cls_003">L'enfant suit-il un traitement médical pendant sa présence au centre de loisirs ?</span></div>
    <div style="position:absolute;left:20px;top:392.00px" class="cls_003"><input type="checkbox" class="record_health_treatment_y" value="" /></div>
    <div style="position:absolute;left:52.00px;top:398.00px" class="cls_003"><span>OUI</span></div>
    <div style="position:absolute;left:80.00px;top:392.00px" class="cls_003"><input type="checkbox" class="record_health_treatment_n" value="" /></div>
    <div style="position:absolute;left:101.00px;top:398.00px" class="cls_003"><span>NON</span></div>
    <div style="position:absolute;left:20px;top:413.35px" class="cls_003"><span class="cls_003">Si oui, joindre une </span><span class="cls_007">ordonnance</span><span class="cls_003"> récente et les </span><span class="cls_007">médicaments</span><span class="cls_003"> correspondants.</span></div>
    <div style="position:absolute;left:20px;top:424.69px" class="cls_003"><span class="cls_003">(</span><span class="cls_007">Boites de médicaments dans leur emballage d'origine marquées au nom de</span></div>
    <div style="position:absolute;left:20px;top:434.69px" class="cls_007"><span class="cls_007">l'enfant avec la notice</span><span class="cls_003">) </span><span class="cls_007">Aucun médicament ne pourra être pris sans ordonnance.</span></div>
    <div style="position:absolute;left:20px;top:450.20px" class="cls_014"><span class="cls_014">a titre indicatif</span><span class="cls_003">, L'ENFANT A-T'IL DÉJÀ EU LES MALADIES SUIVANTES :</span></div>
    <div style="position: absolute; left:20px;top:470.20px">
        <table>
        <tr>
        <th>RUBÉOLE</th>
        <th>VARICELLE</th>
        <th>ANGINE</th>
        <th>RHUMATISME <br>ARTICULAIRE</th>
        <th>SCARLATINE</th>
        </tr>
        <tr>
            <td><input type="checkbox" value="" class="record_health_rubeole_y" />oui<input type="checkbox" value="" class="record_health_rubeole_n" />non</td>
            <td><input type="checkbox" value="" class="record_health_varicelle_y" /><span>oui</span><input type="checkbox" value="" class="record_health_varicelle_n" /><span>non</span></td>
            <td><input type="checkbox" value="" class="record_health_angine_y" /><span>oui</span><input type="checkbox" value="" class="record_health_angine_n" /><span>non</span></td>
            <td><input type="checkbox" value="" class="record_health_rhumatisme_y" /><span>oui</span><input type="checkbox" value="" class="record_health_rhumatisme_n" /><span>non</span></td>
            <td><input type="checkbox" value="" class="record_health_scarlatine_y" /><span>oui</span><input type="checkbox" value="" class="record_health_scarlatine_n" /><span>non</span></td>
        </tr>
        <tr>
        <th>COQUELUCHE</th>
        <th>OTITE</th>
        <th>ROUGEOLE</th>
        <th>OREILLONS</th>
        <th></th>
        </tr>
        <tr>
            <td><input type="checkbox" value="" class="record_health_coqueluche_y" /><span>oui</span><input type="checkbox" value="" class="record_health_coqueluche_n" /><span>non</span></td>
            <td><input type="checkbox" value="record_health_otite_y" class="" /><span>oui</span><input type="checkbox" value="" class="record_health_otite_n" /><span>non</span></td>
            <td><input type="checkbox" value="" class="record_health_rougeole_y" /><span>oui</span><input type="checkbox" value="" class="record_health_rougeole_n" /><span>non</span></td>
            <td><input type="checkbox" value="" class="record_health_oreillons_y" /><span>oui</span><input type="checkbox" value="" class="record_health_oreillons_n" /><span>non</span></td>
            <td></td>
        </tr>
        <tbody></tbody>
        </table>
    </div>    
</div>
<div style="position:right;">
    <div style="position:absolute;left:428.03px;top:27.78px" class="cls_007"><span class="cls_007">ALLERGIES :</span><span class="cls_004">     ASTHME</span></div>
    <div style="position:absolute;left:540.00px;top:24.00px" class="cls_004"><input type="checkbox" class="record_health_asthme_y" /></div>
    <div style="position:absolute;left:562.00px;top:27.78px" class="cls_004"><span class="cls_004">OUI</span></div>
    <div style="position:absolute;left:598.11px;top:24.00px" class="cls_004"><input type="checkbox" class="record_health_asthme_n" /></div>
    <div style="position:absolute;left:620.00px;top:27.78px" class="cls_004"><span class="cls_004">NON</span></div>
    <div style="position:absolute;left:428.03px;top:50.46px" class="cls_004"><span class="cls_004">MEDICAMENTEUSES</span></div>
    <div style="position:absolute;left:540.00px;top:45.00px" class="cls_004"><input type="checkbox" class="record_health_drug_y" /></div>
    <div style="position:absolute;left:562.00px;top:50.46px" class="cls_004"><span class="cls_004">OUI</span></div>
    <div style="position:absolute;left:598.11px;top:45.00px" class="cls_004"><input type="checkbox" class="record_health_drug_n" /></div>
    <div style="position:absolute;left:620.00px;top:50.46px" class="cls_004"><span class="cls_004">NON</span></div>
    <div style="position:absolute;left:428.03px;top:73.13px" class="cls_004"><span class="cls_004">ALIMENTAIRES</span></div>
    <div style="position:absolute;left:540.00px;top:68.42px" class="cls_004"><input type="checkbox" class="record_health_food_y" /></div>
    <div style="position:absolute;left:562.00px;top:73.00px" class="cls_004"><span class="cls_004">OUI</span></div>
    <div style="position:absolute;left:598.11px;top:68.42px" class="cls_004"><input type="checkbox" class="record_health_food_n" /></div>
    <div style="position:absolute;left:620.00px;top:73.00px" class="cls_004"><span class="cls_004">NON</span></div>
    <div style="position:absolute;left:428.03px;top:98.70px" class="cls_007"><span class="cls_007">PRECISEZ LA CAUSE DE L'ALLERGIE ET LA CONDUITE A TENIR :</span></div>
    <div style="position:absolute;left:428.03px;top:98.70px" class="cls_007"><span class="record_health_drug_details"></span></div>
    <div style="position:absolute;left:428.03px;top:98.70px" class="cls_007"><span class="record_health_food_details"></span></div>
    <div style="position:absolute;left:428.03px;top:141.17px" class="cls_015"><span class="cls_015">PAI </span><span class="cls_016">Projet d'Accueil Individualisé</span></div>
    <div style="position:absolute;left:595.00px;top:136.00px" class="cls_004"><input type="checkbox" class="record_health_pai_y" /></div>
    <div style="position:absolute;left:617.95px;top:141.17px" class="cls_004"><span class="cls_004">OUI</span></div>
    <div style="position:absolute;left:640.63px;top:136.00px" class="cls_004"><input type="checkbox" class="record_health_pai_n" /></div>
    <div style="position:absolute;left:665.00px;top:141.17px" class="cls_004"><span class="cls_004">NON</span></div>
    <div style="position:absolute;left:700.00px;top:136.00px" class="cls_004"><input type="checkbox" class="record_health_pai_ongoing" /></div>
    <div style="position:absolute;left:725.00px;top:141.17px" class="cls_004"><span class="cls_004">En cours d'élaboration</span></div>
    <div style="position:absolute;left:428.03px;top:155.34px" class="cls_004"><span class="cls_004">(Joindre le protocole et toutes informations utiles)</span></div>
    <div style="position:absolute;left:428.03px;top:183.69px" class="cls_004"><span class="cls_004">Indiquez les spécificités et précautions à prendre :</span></div>
    <div style="position:absolute;left:428.03px;top:200.00px" class="cls_004"><span class="record_health_pai_details"></span></div>
    <div style="position:absolute;left:428.03px;top:226.26px" class="cls_012"><span class="cls_012">3 - INFORMATIONS COMPLEMENTAIRES</span></div>
    <div style="position:absolute;left:428.03px;top:240.38px" class="cls_004"><span class="cls_004">Votre enfant porte-t'il des lentilles :</span></div>
    <div style="position:absolute;left:604.00px;top:235.00px" class="cls_004"><input type="checkbox" class="record_health_lentilles_y" /></div>
    <div style="position:absolute;left:626.46px;top:240.38px" class="cls_004"><span class="cls_004">OUI</span></div>
    <div style="position:absolute;left:654.80px;top:235.00px" class="cls_004"><input type="checkbox" class="record_health_lentilles_n" /></div>
    <div style="position:absolute;left:675px;top:240.38px" class="cls_004"><span class="cls_004">NON</span></div>
    <div style="position:absolute;left:428.03px;top:254.55px" class="cls_004"><span class="cls_004">des lunettes :</span></div>
    <div style="position:absolute;left:604.00px;top:250px" class="cls_004"><input type="checkbox" class="record_health_glass_y" /></div>
    <div style="position:absolute;left:626.46px;top:254.55px" class="cls_004"><span class="cls_004">OUI</span></div>
    <div style="position:absolute;left:654.80px;top:250px" class="cls_004"><input type="checkbox" class="record_health_glass_n" /></div>
    <div style="position:absolute;left:675px;top:254.55px" class="cls_004"><span class="cls_004">NON</span></div>
    <div style="position:absolute;left:428.03px;top:268.73px" class="cls_004"><span class="cls_004">des prothèses auditives :</span></div>
    <div style="position:absolute;left:604.00px;top:265px" class="cls_004"><input type="checkbox" class="record_health_audio_y" /></div>
    <div style="position:absolute;left:626.46px;top:268.73px" class="cls_004"><span class="cls_004">OUI</span></div>
    <div style="position:absolute;left:654.80px;top:265px" class="cls_004"><input type="checkbox" class="record_health_audio_n" /></div>
    <div style="position:absolute;left:675px;top:268.73px" class="cls_004"><span class="cls_004">NON</span></div>
    <div style="position:absolute;left:428.03px;top:282.90px" class="cls_004"><span class="cls_004">des prothèses / appareils dentaires :</span></div>
    <div style="position:absolute;left:604.00px;top:280px" class="cls_004"><input type="checkbox" class="record_health_tooth_y" /></div>
    <div style="position:absolute;left:626.46px;top:282.90px" class="cls_004"><span class="cls_004">OUI</span></div>
    <div style="position:absolute;left:654.80px;top:280px" class="cls_004"><input type="checkbox" class="record_health_tooth_n" /></div>
    <div style="position:absolute;left:675px;top:282.90px" class="cls_004"><span class="cls_004">NON</span></div>
    <div style="position:absolute;left:428.03px;top:297.07px" class="cls_004"><span class="cls_004">Autres recommandations :</span></div>
    <div style="position:absolute;left:428.03px;top:297.07px" class="cls_004"><span class="record_health_others"></span></div>
    <div style="position:absolute;left:428.03px;top:339.65px" class="cls_003"><span class="cls_003">J'autorise mon enfant à participer aux activités physiques et sportives</span></div>
    <div style="position:absolute;left:710px;top:335px" class="cls_003"><input type="checkbox" class="record_auth_sport_y" /></div>
    <div style="position:absolute;left:730px;top:339.65px" class="cls_003"><span class="cls_003">OUI</span></div>
    <div style="position:absolute;left:750px;top:335px" class="cls_004"><input type="checkbox" class="record_auth_sport_n" /></div>
    <div style="position:absolute;left:770px;top:339.65px" class="cls_003"><span class="cls_003">NON</span></div>
    <div style="position:absolute;left:428.03px;top:353.82px" class="cls_003"><span class="cls_003">J'autorise mon enfant à participer aux baignades surveillées</span></div>
    <div style="position:absolute;left:710px;top:350px" class="cls_003"><input type="checkbox" class="record_auth_bath_y" /></div>
    <div style="position:absolute;left:730px;top:353.82px" class="cls_003"><span class="cls_003">OUI</span></div>
    <div style="position:absolute;left:750px;top:350px" class="cls_004"><input type="checkbox" class="record_auth_bath_n" /></div>
    <div style="position:absolute;left:770px;top:353.82px" class="cls_003"><span class="cls_003">NON</span></div>
    <div style="position:absolute;left:428.03px;top:368.00px" class="cls_003"><span class="cls_003">Autorisation de transport en véhicule de service et car de location</span></div>
    <div style="position:absolute;left:710px;top:365px" class="cls_003"><input type="checkbox" class="record_auth_transpbus_y" /></div>
    <div style="position:absolute;left:730px;top:368.00px" class="cls_003"><span class="cls_003">OUI</span></div>
    <div style="position:absolute;left:750px;top:365px" class="cls_004"><input type="checkbox" class="record_auth_transpbus_n" /></div>
    <div style="position:absolute;left:770px;top:368.00px" class="cls_003"><span class="cls_003">NON</span></div>
    <div style="position:absolute;left:428.03px;top:396.34px" class="cls_012"><span class="cls_012">5 - RESPONSABLE DE L'ENFANT</span></div>
    <div style="position:absolute;left:428.03px;top:410.52px" class="cls_007"><span class="cls_007">Nom :</span><span class="record_resp1_last_name"></span></div>
    <div style="position:absolute;left:612.28px;top:410.52px" class="cls_007"><span class="cls_007">Prénom :</span><span class="record_resp1_first_name"></span></div>
    <div style="position:absolute;left:428.03px;top:424.69px" class="cls_007"><span class="cls_007">Adresse :</span><span class="record_resp1_address1"></span></div>
    <div style="position:absolute;left:428.03px;top:438.86px" class="cls_007"><span class="cls_007">Code Postal :</span><span class="record_resp1_zip"></span></div>
    <div style="position:absolute;left:612.28px;top:438.86px" class="cls_007"><span class="cls_007">Commune :</span><span class="record_resp1_city"></span></div>
    <div style="position:absolute;left:428.03px;top:453.04px" class="cls_007"><span class="cls_007">Tél. (Domicile) :</span><span class="record_resp1_phone_home"></span></div>
    <div style="position:absolute;left:612.28px;top:453.04px" class="cls_007"><span class="cls_007">Tél. (Pro.</span><span class="record_resp1_phone_pro"></span></div>
    <div style="position:absolute;left:654.80px;top:453.04px" class="cls_003"><span class="cls_003"></span></div>
    <div style="position:absolute;left:428.03px;top:467.21px" class="cls_007"><span class="cls_007">Tél. (Portable) :</span><span class="record_resp1_phone_cell"></span></div>
    <div style="position:absolute;left:428.03px;top:481.38px" class="cls_007"><span class="cls_007">Médecin traitant :</span><span class="record_health_doctor_names"></span><span class="record_health_doctors_phones"></span></div>
    <div style="position:absolute;left:428.03px;top:495.55px;padding-right: 10px;" class="cls_007"><p class="cls_007">Je soussigné(e) <span class="record_resp1_last_name"></span> <span class="record_resp1_first_name"></span> responsable légal de l'enfant , déclare exacts
        les renseignements portés sur cette fiche et autorise l'équipe d'animation à prendre, le cas échéant, toutes mesures (traitement médical, hospitalisation,intervention chirurgicale) rendues nécessaires par l'état de l'enfant. Ceci suivant
        les prescriptions d'un médecin et/ou un service d'urgence </span><span class="cls_017">seuls habilités à définir</span> l'hopital de secteur
    </p></div>
    <div style="position:absolute;left:428.03px;top:557.89px" class="cls_013"><span class="cls_013">Date :</span></div>
    <div style="position:absolute;left:612.28px;top:557.89px" class="cls_013"><span class="cls_013">Signature :</span></div>
</div>

</div>
</body>
</html>
