.page {
    width: 100vw;
    height: 100vh;
    
    position: absolute;

    // background-color: aquamarine;
    background-size: cover;
    background-image: url(/media/img/bg.jpg);
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 350px;
        min-height: 350px;
        padding: 0;
        padding: 1rem;

        background-color: white;
        // background-color: white;

        position: relative;

        .form-container {
            width: 100%;
            height: 100%;

            // left: 100%;
            opacity: 0;
            position: absolute;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            // transition: left 7s, opacity 7s;

            // animation: fadeOutLeft; /* referring directly to the animation's @keyframe declaration */
            // animation-duration: 2s; /* don't forget to set a duration! */
            
            &:not(.active) {
            }
            
            &.active {
                left: 0;
                opacity: 1;

                // transition: left 4s, opacity 4s;

                // animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
                // animation-duration: 2s; /* don't forget to set a duration! */
            }

            &.deactive {
                // animation: fadeOutLeft; /* referring directly to the animation's @keyframe declaration */
                // animation-duration: 2s; /* don't forget to set a duration! */
            }

            .ui.fluid.button {
                color: white;
                background-color: orange;
            }
        }
    }
}