<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <style>
body { margin: 0; }
table { border-spacing: 0;}
p { text-align: justify;}
.contentText { padding-left:10px; padding-right: 10px; }
.color-primary-0 { color: #3DBB00 }
.color-white { color: #FFFFFF }
.color-black { color: #000000 }
.bg-color-primary-0 { background-color: #3DBB00 }
.bg-color-secondary-2-1 { background-color: #ffbe6042 }
.bg-color-secondary-2-3 { background-color: #FFD035 }
.bg-color-secondary-2-4 { background-color: #F59100 }
  </style>
</head>

<body>
  <!-- Wrapper for the body of the email -->
  <table class="body" data-made-with-foundation>
    <tr class="bg-color-primary-0" >
      <td class="float-center color-white" align="center" valign="top" colspan="2" >
        <h2>Bienvenue sur le nouveau service en ligne de L'U.P.E.M.</h2>
      </td>
    </tr>
    <tr class="bg-color-primary-0">
      <td class="float-center" align="center" valign="top" colspan="2">
        <center>
           <img src="./logoUpem561px-300x300.png" width="100" height="100" alt="U.P.E.M." />
        </center>
      </td>
    </tr>
    <tr>
        <td colspan="2" class="contentText"><br><br>Bonjour,</td>
    </tr>
    <tr>
        <td colspan="2" class="contentText">
            <p>Cliquez sur ce lien pour réinitialiser votre mot de passe pour le compte "email".  </p>
        </td>
    </tr>
    <tr>
        <td  style="width: 60%; padding: 10px;" align="center" colspan="2"><a class=" bg-color-secondary-2-4 color-white" href="" style="text-decoration: none; display: block;margin-left: 20%; margin-right: 20%; padding: 10px;">REINITIALISER</a></td>
    </tr>
    <tr>
        <td colspan="2" class="contentText">
            <br><br>
            Si vous n'avez pas demandé à réinitialiser votre mot de passe, vous pouvez ignorer cet email.
        </td>
    </tr>
    <tr>
        <td colspan="2" class="contentText">
            <br><br>
            Service Périscolaire,
        </td>
    </tr>

   
    <tr class="bg-color-secondary-2-1">
        <td colspan="2">
        <br>
            Vous avez une question? N'hésitez pas à nous contacter !
            <br><br>
        </td>
    </tr>
    <tr class="bg-color-secondary-2-1">
        <td style="width:50%" class="contentText">
           <strong>Par téléphone</strong>
        </td>
        <td style="width:50%" class="contentText">
            <strong>Par email</strong>
        </td>
    </tr>
    <tr class="bg-color-secondary-2-1">
        <td style="width:50%" class="contentText">
            0596 70 32 54
        </td>
        <td style="width:50%"  class="contentText">
           periscolaire.stjo@upem.mq
        </td>
    </tr>
    <tr class="bg-color-secondary-2-1">
        <td colspan="2">
            <br>
        </td>
    </tr>
    <tr class="color-primary-0">
        <td class="float-center" align="center" valign="top" colspan="2">
           <h3> Divini Yich Nou Se Divini Peyi A</h3>
        </td>
    </tr>
  </table>
</body>
</html>