{% extends 'intern/base.html' %}

{% block title %}
Accueil
{% endblock %}

{% block styles %}
{% endblock %}

{% block main %}
<div id="Home" class="container">
    <div id="Alert" class="col-sm-12">
        <div class="Alert-container">
            <div class="alert alert-primary" role="alert">
                <span class="alert-message"></span>
                <a class="alert-link"></a>
            </div>
            <div class="alert alert-secondary" role="alert">
                <span class="alert-message"></span>
                <a class="alert-link"></a>
            </div>
            <div class="alert alert-success" role="alert">
                <span class="alert-message"></span>
                <a class="alert-link"></a>
            </div>
            <div class="alert alert-danger" role="alert">
                <span class="alert-message"></span>
                <a class="alert-link"></a>
            </div>
            <div class="alert alert-warning" role="alert">
                <span class="alert-message"></span>
                <a class="alert-link"></a>
            </div>
            <div class="alert alert-info" role="alert">
                <span class="alert-message"></span>
                <a class="alert-link"></a>
            </div>
            <div class="alert alert-light" role="alert">
                <span class="alert-message"></span>
                <a class="alert-link"></a>
            </div>
            <div class="alert alert-dark" role="alert">
                <span class="alert-message"></span>
                <a class="alert-link"></a>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="wrapper-title d-none">
            <p class="title">COMMUNIQUE</p>
        </div>
        <div class="wrapper-content d-none" style="margin-bottom: 2rem;">
            <div class="card"
                style="max-width: 700px;
                margin:auto;
                border:1px solid green;
                font-size:18px;">
                <div class="card-body">
                    <b>Parents,</b>
                    <br/>
                    <br/>

                    Nous vous informons de la <b>réouverture des inscriptions</b> qui se dérouleront au <b>Centre Culturel MARCÉ</b> du <b>mardi 25 au vendredi 28 août 2020</b> de <b>08h30 à 12h30</b> et de <b>13h45 à 16h</b> pour toutes les écoles.
                    <br/>
                    <br/>

                    La <b>procédure</b> d’inscription s’effectue en <b>2 étapes</b> :

                    <ol>
                        <li>
                            <b>Pré-inscription</b> en ligne à cette adresse dès le samedi 15 août 2020.
                        </li>
                        
                        <li>
                            <b>Finalisation</b> de l’inscription sur place muni des pièces suivantes :
                            <ul class="ml-1">
                                <li>
                                    • La <b>fiche d’inscription</b> et la <b>fiche sanitaire</b> dûment renseignées et imprimées
                                </li>
                                <li>
                                    • 1 <b>photo d’identité récente</b> de votre enfant (2 si inscription en ALSH)
                                </li>
                                <li>• <b>L’attestation d’assurance extrascolaire 2020-2021 (type 24/24 plus)</b></li>
                                <li>• <b>La copie des pages de vaccinations</b></li>
                                <li>• La copie du Projet d’Accueil Individualisé (si votre enfant en bénéficie)</li>
                                <li>• Le montant des prestations souhaitées en espèces ou par chèque</ul>
                            </ul>
                        </li>
                    </ol>
                    <br/>
                    <br/>

                    <b>AUCUN DOSSIER INCOMPLET NE SERA ACCEPTÉ</b>
                    <br/>
                    <br/>

                    Nous comptons sur votre entière collaboration afin de respecter les mesures sanitaires mises en place :
                    <ul class="ml-4">
                        <li>• Port du masque obligatoire</li>
                        <li>• Désinfection des mains à l’entrée</li>
                        <li>• Stylo personnel et individuel</li>
                        <li>• Distanciation physique</li>
                    </ul>
                    <br/>
                    <br/>

                    <b class="float-right">La direction UPEEM</b>
                    <br/>
                    <br/>
                    <br/>
                    
                    <a href="/media/COMMUNIQUE_REOUVERTURE_INSCRIPTIONS_2020-2021.pdf" target="_blank" class="card-link float-right">En savoir plus</a>
                </div>
            </div>
            
            <div class="card d-none"
                style="max-width: 700px;
                margin:auto;
                border:1px solid red;
                font-size:18px;">
                <div class="card-body"
                >
                    <b>Parents,</b>
                    <br/>
                    <br/>
        
                    Nous vous informons de la fermeture de notre antenne de SAINT-JOSEPH, à compter du vendredi 21 août 2020 et ce jusqu’à nouvel ordre.
                    <br/>
                    <br/>
        
                    Bien que nous suivions strictement le protocole sanitaire en vigueur, par mesure de précaution, à notre demande une entreprise spécialisée nous aidera à garantir l’intégrité sanitaire de nos locaux , suite à l’exposition dans le cadre de ses fonctions, de l’un de nos salariés à une personne testée positive ce jour au coronavirus.
                    <br/>
                    <br/>
        
                    Un nouveau calendrier et de nouvelles modalités d’inscriptions vous seront communiqués incessamment.
                    Nous attirons plus que jamais votre attention, sur le nécessaire respect par tous des gestes barrières, de la distanciation physique et du port obligatoire du masque dans les lieux clos.
                    <br/>
                    <br/>
        
                    Soyez convaincus que nous mettons tout en œuvre pour assurer dans la plus grande sécurité de nos personnels et de vous-mêmes, les préparatifs de la rentrée.
                    <br/>
                    <br/>
                    
                    <b class="float-right">La direction UPEEM</b>
                    <br/>
                    <br/>
                    <br/>
                    
                    <a href="/media/COMMUNIQUE_UPEM_FERMETURE_ANTENNE DE ST JOSEPH.pdf" target="_blank" class="card-link float-right">En savoir plus</a>
                </div>
            </div>
        </div>

        <div class="wrapper-title">
            <p class="title">Informations</p>
        </div>
        <div class="wrapper-content">
            <p class="Record-Agreement">

                <div class="card schoolcard">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Parents,</strong></h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>

                        <div class="card-text">
                            
                            <p class="d-none" style="font-weight: 400;">La validation de l'inscription de votre enfant devra s&rsquo;effectuer aux jours et horaires indiqués par le calendrier suivant :</p>
                            
                            <p style="font-weight: 400;">La validation de l'inscription de votre enfant aura désormais lieu aux horaires normaux.</p>
                            <p style="font-weight: 400;">N'oubliez pas de ramener tous les documents nécessaires :</p>
                            
                            <table class="schooltab d-none">
                                <tbody>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole maternelle <strong>Jeanne MERTON</strong></p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Mardi 18 août</strong> : 08h30 - 12h30 / 13h45 -16h00</p>
                                            <p><strong>Mercredi 19 août</strong> : 08h30 - 13h00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole primaire <strong>Ambroise PALIX</strong> (Gondeau)</p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Jeudi 20 et vendredi 21</strong> <strong>août</strong> : de 08h30 - 12h30 / 13h45 - 16h00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole élémentaire <strong>Edouard MARCEAU</strong></p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Lundi 24 août</strong> : 08h30 - 12h30 / 13h45 - 16h00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole élémentaire <strong>Henri MAURICE</strong></p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Mardi 25 août</strong> : 08h30 - 12h30 / 13h45 - 16h00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole primaire <strong>Victor SCHOELCHER</strong> (Bois du Parc)</p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Mardi 25 août</strong> : 08h30 - 12h30 / 13h45 - 16h00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole primaire <strong>Firmin LUC CAYOL</strong> (Durand)</p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Mercredi 26 août</strong> : 08h30 - 13h00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole primaire <strong>Morne des Olives</strong></p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Mercredi 26 août</strong> : 08h30 - 13h00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole primaire <strong>Lise Désir CARTESSE</strong> (Chapelle)</p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Jeudi 27 août</strong> : 08h30 - 12h30 / 13h45 - 16h00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 297px;">
                                            <p>Ecole primaire de <strong>Presqu&rsquo;Ile</strong></p>
                                        </td>
                                        <td style="width: 295px;">
                                            <p><strong>Vendredi 28 août</strong> : 08h30 - 12h30 / 13h45 - 16h00</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p style="font-weight: 400;"> </p>
                            <p style="font-weight: 400;"> </p>

                            <ul>
                                <li>
                                    La <strong>fiche d'inscription</strong> et la <strong>fiche sanitaire</strong> dûment renseignées et <strong>imprimées</strong>
                                </li>
                                <li>
                                    1 <strong>photo d'identité récente</strong> de votre enfant (2 si inscription en ALSH)
                                </li>
                                <li>
                                    <strong>L'attestation d'assurance extrascolaire 2020-2021</strong> (type 24/24 plus)
                                </li>
                                <li>
                                    <strong>La photocopie des pages de vaccinations</strong>
                                </li>
                                <li>
                                    La copie du Projet d'Accueil Individualisé (si votre enfant en bénéficie)
                                </li>
                                <li>
                                    Montant des prestations souhaitées en esp&egrave;ces ou par ch&egrave;que
                                </li>
                            </ul>
                            
                            <p style="font-weight: 400;">Les régularisations de l'année précédente seront effectuées automatiquement au cas par cas.</p>
                            <p style="font-weight: 400;"><br /><strong>Aucun dossier incomplet ne sera accepté.</strong><span style="font-weight: 400;"> </span><br style="font-weight: 400;" /><strong>Paiement et remise des pi&egrave;ces &agrave; UPEEM Saint-Joseph (Rue Blondet - n&deg;5 impasse LAMOTTE - 97212 Saint-Joseph)</strong></p>
                            <p style="font-weight: 400;"><br /><strong><span style="font-weight: 400;">Merci de votre collaboration.<br /></span></strong></p>
                        </div>
                        <a href="" class="card-link"></a>
                        <a href="" class="card-link"></a>
                    </div>
                </div>
                
            </p>
        </div>
    </div>

    <!-- <div class="wrapper">
        <div class="wrapper-title">
            <p class="title">Mon Compte</p>
        </div>
        <div class="wrapper-content">
            <a class="wrapper-btn nav-link-profile">
                <h5 class="wrapper-btn__title">Mon profil</h5>
                <ul class="wrapper-btn__list">
                    <li class="wrapper-btn__item">Item 1</li>
                    <li class="wrapper-btn__item">Item 2</li>
                    <li class="wrapper-btn__item">Item 3</li>
                </ul>
            </a>

            <a class="wrapper-btn nav-link-family">
                <h5 class="wrapper-btn__title">Ma famille</h5>
            </a>
        </div>
    </div> -->

    <!-- <div class="wrapper">
        <div class="wrapper-title">
            <p class="title">Achats</p>
        </div>
        <div class="wrapper-content">
            <a class="wrapper-btn" href="/intern/shop">
                <h5 class="wrapper-btn__title">Acheter prestations</h5>
                <ul class="wrapper-btn__list">
                    <li class="wrapper-btn__item">Périscolaire</li>
                    <li class="wrapper-btn__item">ALSH</li>
                </ul>
            </a>
        </div>
    </div> -->
</div>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/Common.js"></script>
<script src="/static/scripts/User.js"></script>

<script>
    let caster = undefined;
    const user = new User();

    window.onload = function (e) {
        if (App.init()) {

            user.readUser(
                App.caster.id,
                readUser_onSuccess,
                readUser_onFailure,
            );
        }
        else {
            Alert.alertDanger('Une erreur est survenue lors du lancement de l\'application.');
        }
    }


    function readUser_onFailure (err) {
        const message = Errors.process(err);

        Alert.alertDanger(message);
    }
    

    function readUser_onSuccess (data) {
        const response = App.getUserStatus(App.caster);
        if (response.status === 'Failure') {
            Alert.alertDanger(
                response.message,
                response.link,
                response.href
            );
        }
        else {
            Alert.alertSuccess(
                response.message,
                response.link,
                response.href
            );
        }
        return;
        if (!user.date_completed) {
            statusDanger(`Compte non complété. <a href="/user/${caster.id}/">Merci de suivre ce lien.</a>`);
        }
        else if (!user.date_confirmed) {
            // statusDanger(`Compte non confirmé. Merci de vérifier votre boîte mail. Dans le cas échéant, <a href="/new-verification-link/${caster.id}/">merci de suivre ce lien.</a>`);
            statusDanger(`Compte non confirmé. <a href="/new-verification-link/${caster.id}/">Merci de cliquer sur ce lien</a> afin de recevoir le mail.`);
        }
        else {
            statusSuccess(`Inscription 2020-2021 ouverte. <a href="/family/${caster.id}/">Merci de suivre ce lien.</a>`)
        }
    } 
</script>
{% endblock %}