#Shop .ui.tab.loading * {
  position: relative !important;
  /* left: -10000px!important; */
  z-index: 1000;
  color: #000000c9;
  position: absolute;
  top: 110px;
  font-style: italic;
}
#Shop .Dir-Intels .Dir .ui.selection.dropdown {
  margin: 0;
}
#Shop .Children-Records {
  margin-bottom: 2em;
}
#Shop .Children-Records .Children {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#Shop .Children-Records .Children .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#Shop .Children-Records .Children .content .ui.label {
  width: auto;
  margin: 0 10px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background: #5f9ea08c;
  cursor: pointer;
}
#Shop .Children-Records .Children .content .ui.label.active {
  background-color: cadetblue;
}
#Shop .Children-Records .Records {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#Shop .Children-Records .Records .content .card {
  min-width: 250px;
  display: none;
  padding: 0.5em;
  background-color: #DDD;
}
#Shop .Children-Records .Records .content .card.active {
  display: flex;
}
#Shop .View .content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
#Shop .View .content .ChildView {
  width: 100%;
  display: none;
}
#Shop .View .content .ChildView.active {
  display: inherit;
}
#Shop .View .content .ChildView .wrapper {
  width: 100%;
  background-color: #EE8;
}
#Shop .View .content .ChildView .wrapper-content {
  text-align: center;
}
#Shop .View .content .ChildView .wrapper .Filters {
  margin: 0.5em 0;
}
#Shop .View .content .ChildView .wrapper .Filters .ui.label {
  margin: 0.14285714em;
  color: #a86d00;
  background-color: #ffa5007a;
  cursor: pointer;
}
#Shop .View .content .ChildView .wrapper .Filters .ui.label.active {
  color: #ffa500;
  background-color: #a86d00;
}
#Shop .View .content .ChildView .wrapper .Filters h3 {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}
#Shop .View .content .ChildView .wrapper .Filters .icon {
  color: orange;
  font-size: 2em;
}
#Shop .View .content .ChildView .wrapper .Filters .ui.checkbox {
  display: inline-block;
}
#Shop .View .content .ChildView .wrapper .Filters .ui.checkbox input:checked ~ label:before {
  background-color: orange !important;
}
#Shop .View .content .ChildView .wrapper .Filters .content {
  display: flex !important;
  flex-flow: row wrap;
}
#Shop .View .content .ChildView .wrapper .Filters.js-open .icon.right {
  display: none;
}
#Shop .View .content .ChildView .wrapper .Filters.js-close .icon.down {
  display: none;
}
#Shop .View .content .ChildView .wrapper .Filters.js-close .content {
  display: none !important;
  transition: display 2s;
}
#Shop .View .content .ChildView .wrapper .Products {
  display: flex;
  flex-flow: column;
  text-align: left;
}
#Shop .View .content .ChildView .wrapper .Products .ProductCategory {
  display: none;
  flex-flow: column;
}
#Shop .View .content .ChildView .wrapper .Products .ProductCategory.active {
  display: flex;
}
#Shop .View .content .ChildView .wrapper .Products .ProductCategory .content {
  display: flex;
  flex-flow: row wrap;
}
#Shop .View .content .ChildView .wrapper .Products .ProductCategory .content .product-tile {
  display: flex;
}

.product-tile {
  /*
      Product tile
      - main
      - view
      - available         (normal)
      - not available     (expired)
      - out of stock      (breaking)
      - in cart           (selected)
      - bought            (purchased)
      - summary
      + PERI (hide stock)
  */
  width: 120px;
  height: 120px;
  margin: 0.5rem;
  padding: 0.25rem;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 1px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.product-tile:hover {
  background-color: #d6d6d6;
}
.product-tile[data-category=PERISCOLAIRE] .stock {
  display: none;
}
.product-tile .header {
  margin: 0;
}
.product-tile .header .name {
  font-weight: bold;
}
.product-tile .header .stock {
  display: none;
  color: #404040;
  margin: 0.25rem 0;
  font-size: 14px;
}
.product-tile .body .icon {
  display: none;
}
.product-tile .body .icon.add {
  color: orange;
}
.product-tile .body .icon.ban {
  color: red;
}
.product-tile .body .icon.check {
  color: green;
}
.product-tile .body .icon.selected {
  color: #2176FF;
}
.product-tile .footer .price {
  display: none;
}
.product-tile .footer .date {
  display: none;
  font-size: 12px;
}
.product-tile .footer .date__date {
  display: block;
}
.product-tile.main .checkbox {
  display: block;
}
.product-tile.normal .add, .product-tile.normal .price, .product-tile.normal .stock {
  display: block;
}
.product-tile.view .price {
  display: block;
}
.product-tile.purchased .date, .product-tile.purchased .check, .product-tile.purchased .price {
  display: block;
}
.product-tile.selected .stock, .product-tile.selected .price, .product-tile.selected .selected {
  display: block;
}
.product-tile.main .product-meta-add, .product-tile.main .product-meta-ban, .product-tile.main .product-meta-check, .product-tile.main .product-meta-selected {
  display: none;
}
.product-tile.expired .product-meta-add, .product-tile.expired .product-meta-check, .product-tile.expired .product-meta-bought, .product-tile.expired .product-meta-checkbox, .product-tile.expired .product-meta-selected {
  display: none;
}
.product-tile.breaking .product-meta-add, .product-tile.breaking .product-meta-check, .product-tile.breaking .product-meta-bought, .product-tile.breaking .product-meta-checkbox, .product-tile.breaking .product-meta-selected {
  display: none;
}
.product-tile.summary .product-meta-add, .product-tile.summary .product-meta-ban, .product-tile.summary .product-meta-check, .product-tile.summary .product-meta-bought, .product-tile.summary .product-meta-checkbox, .product-tile.summary .product-meta-selected {
  display: none;
}
.product-tile.summary .product-meta-price {
  display: block;
}
.product-tile.summary-ok .product-meta-add, .product-tile.summary-ok .product-meta-ban, .product-tile.summary-ok .product-meta-bought, .product-tile.summary-ok .product-meta-checkbox, .product-tile.summary-ok .product-meta-selected {
  display: none;
}
.product-tile.summary-ok .product-meta-price {
  display: block;
}
.product-tile.summary-ban .product-meta-add, .product-tile.summary-ban .product-meta-check, .product-tile.summary-ban .product-meta-bought, .product-tile.summary-ban .product-meta-checkbox, .product-tile.summary-ban .product-meta-selected {
  display: none;
}
.product-tile.summary-ban .product-meta-price {
  display: none;
}
.product-tile.order-modal .product-tile-body, .product-tile.order-modal .product-meta-stock {
  display: none;
}
.product-tile.order-modal .product-meta-price, .product-tile.order-modal .product-meta-bought {
  display: block;
}
.product-tile.order-modal.selected {
  background-color: #d6d6d6;
}

/********************************************************************
CONTROLS
********************************************************************/
.Controls {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
}

.Controls .Controls-buttons {
  margin: 5px 0;
  text-align: right;
}

.Controls .Controls-alert {
  margin: 5px 0;
  display: none;
}

.Controls .Controls-alert.show {
  display: block;
  text-align: left;
}

/* 
    .Dir-Intels 
        #Dir
        #Intels
*/
.Dir-Intels {
  margin: 0;
}

.Dir,
.Intels {
  padding: 1rem;
}

.Dir .card,
.Intels .card {
  border: none;
  padding: 0.5rem;
  background-color: transparent;
}

/********************************************************************
DIR
********************************************************************/
.Dir-summary.hide {
  display: none;
}

/* 
    TABS/Shop
*/
.Tabs {
  padding: 1rem 0;
}

.Tabs-header .Tabs-header-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Tabs-header .Tabs-header-item {
  width: auto;
  margin: 0 10px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background: #5f9ea08c;
  cursor: pointer;
}

.Tabs-header .Tabs-header-item.active {
  background-color: cadetblue;
}

.Tabs-body .Tabs-body-child {
  display: none;
}

.Tabs-body .Tabs-body-child.active {
  display: block;
}

.Tabs-body .Tabs-body-child .Tabs-body-child-record {
  display: flex;
  flex-flow: row wrap;
}

.Tabs-body .Tabs-body-child .Tabs-body-child-record li {
  width: 50%;
}

.Tabs-body .wrapper {
  background-color: #EE8;
}

.Tabs-body-child-record.card {
  margin: 1rem;
  background-color: #DDD;
}

.Tabs-body-child-record .card-body {
  padding: 0.5rem;
}

.Tabs-body-child-products {
  margin: 1rem;
}

.product-category-products {
  padding: 0.5rem;
}

#Tabs-dir {
  border: 1px solid grey;
  padding: 0.5rem;
  background: #cccccc;
  border-radius: 5px;
}

#Tabs-dir #Tabs-dir-label {
  font-size: 20px;
  font-weight: bold;
}

/* 
CUSTOM MODAL STYLES
*/
#payment-modal {
  /* padding-top: 3.625rem; */
}

.my-modal {
  width: 100%;
  height: 100%;
  /* padding-top: 3.625rem; */
  padding-bottom: 3.625rem;
  top: 3.625rem;
  left: 0;
  z-index: 2000;
  position: fixed;
  overflow: auto;
}

.my-modal.hide {
  display: none;
}

.my-modal-background {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 2001;
  position: fixed;
  /* position: absolute; */
}

.my-modal-dialog {
  /* top: 3.625rem; */
  z-index: 2002;
  position: relative;
  padding: 1rem;
  /* width: 500px;

  left: 0;
  position: absolute; */
  /* max-width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white; */
}

.my-modal-content {
  width: 500px;
  margin: auto;
}

#payment-alert {
  display: none;
}

#payment-alert.show {
  display: block;
}

/*  */
.paginationjs {
  line-height: 1.6;
  font-family: Marmelad, "Lucida Grande", Arial, "Hiragino Sans GB", Georgia, sans-serif;
  font-size: 14px;
  box-sizing: initial;
}

.paginationjs:after {
  display: table;
  content: " ";
  clear: both;
}

.paginationjs .paginationjs-pages {
  float: left;
}

.paginationjs .paginationjs-pages ul {
  float: left;
  margin: 0;
  padding: 0;
}

.paginationjs .paginationjs-go-button,
.paginationjs .paginationjs-go-input,
.paginationjs .paginationjs-nav {
  float: left;
  margin-left: 10px;
  font-size: 14px;
}

.paginationjs .paginationjs-pages li {
  float: left;
  border: 1px solid #aaa;
  border-right: none;
  list-style: none;
}

.paginationjs .paginationjs-pages li > a {
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  display: block;
  background: #fff;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  text-align: center;
}

.paginationjs .paginationjs-pages li > a:hover {
  background: #eee;
}

.paginationjs .paginationjs-pages li.active {
  border: none;
}

.paginationjs .paginationjs-pages li.active > a {
  height: 30px;
  line-height: 30px;
  background: #aaa;
  color: #fff;
}

.paginationjs .paginationjs-pages li.disabled > a {
  opacity: 0.3;
}

.paginationjs .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
  border-radius: 3px 0 0 3px;
}

.paginationjs .paginationjs-pages li:last-child {
  border-right: 1px solid #aaa;
  border-radius: 0 3px 3px 0;
}

.paginationjs .paginationjs-pages li:last-child > a {
  border-radius: 0 3px 3px 0;
}

.paginationjs .paginationjs-go-input > input[type=text] {
  width: 30px;
  height: 28px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: baseline;
  outline: 0;
  box-shadow: none;
  box-sizing: initial;
}

.paginationjs .paginationjs-go-button > input[type=button] {
  min-width: 40px;
  height: 30px;
  line-height: 28px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #aaa;
  text-align: center;
  padding: 0 8px;
  font-size: 14px;
  vertical-align: baseline;
  outline: 0;
  box-shadow: none;
  color: #333;
  cursor: pointer;
  vertical-align: middle\9 ;
}

.paginationjs.paginationjs-theme-blue .paginationjs-go-input > input[type=text],
.paginationjs.paginationjs-theme-blue .paginationjs-pages li {
  border-color: #289de9;
}

.paginationjs .paginationjs-go-button > input[type=button]:hover {
  background-color: #f8f8f8;
}

.paginationjs .paginationjs-nav {
  height: 30px;
  line-height: 30px;
}

.paginationjs .paginationjs-go-button,
.paginationjs .paginationjs-go-input {
  margin-left: 5px\9 ;
}

.paginationjs.paginationjs-small {
  font-size: 12px;
}

.paginationjs.paginationjs-small .paginationjs-pages li > a {
  min-width: 26px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

.paginationjs.paginationjs-small .paginationjs-pages li.active > a {
  height: 26px;
  line-height: 26px;
}

.paginationjs.paginationjs-small .paginationjs-go-input {
  font-size: 12px;
}

.paginationjs.paginationjs-small .paginationjs-go-input > input[type=text] {
  width: 26px;
  height: 24px;
  font-size: 12px;
}

.paginationjs.paginationjs-small .paginationjs-go-button {
  font-size: 12px;
}

.paginationjs.paginationjs-small .paginationjs-go-button > input[type=button] {
  min-width: 30px;
  height: 26px;
  line-height: 24px;
  padding: 0 6px;
  font-size: 12px;
}

.paginationjs.paginationjs-small .paginationjs-nav {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}

.paginationjs.paginationjs-big {
  font-size: 16px;
}

.paginationjs.paginationjs-big .paginationjs-pages li > a {
  min-width: 36px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}

.paginationjs.paginationjs-big .paginationjs-pages li.active > a {
  height: 36px;
  line-height: 36px;
}

.paginationjs.paginationjs-big .paginationjs-go-input {
  font-size: 16px;
}

.paginationjs.paginationjs-big .paginationjs-go-input > input[type=text] {
  width: 36px;
  height: 34px;
  font-size: 16px;
}

.paginationjs.paginationjs-big .paginationjs-go-button {
  font-size: 16px;
}

.paginationjs.paginationjs-big .paginationjs-go-button > input[type=button] {
  min-width: 50px;
  height: 36px;
  line-height: 34px;
  padding: 0 12px;
  font-size: 16px;
}

.paginationjs.paginationjs-big .paginationjs-nav {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li > a {
  color: #289de9;
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li > a:hover {
  background: #e9f4fc;
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li.active > a {
  background: #289de9;
  color: #fff;
}

.paginationjs.paginationjs-theme-blue .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}

.paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type=button] {
  background: #289de9;
  border-color: #289de9;
  color: #fff;
}

.paginationjs.paginationjs-theme-green .paginationjs-go-input > input[type=text],
.paginationjs.paginationjs-theme-green .paginationjs-pages li {
  border-color: #449d44;
}

.paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type=button]:hover {
  background-color: #3ca5ea;
}

.paginationjs.paginationjs-theme-green .paginationjs-pages li > a {
  color: #449d44;
}

.paginationjs.paginationjs-theme-green .paginationjs-pages li > a:hover {
  background: #ebf4eb;
}

.paginationjs.paginationjs-theme-green .paginationjs-pages li.active > a {
  background: #449d44;
  color: #fff;
}

.paginationjs.paginationjs-theme-green .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}

.paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type=button] {
  background: #449d44;
  border-color: #449d44;
  color: #fff;
}

.paginationjs.paginationjs-theme-yellow .paginationjs-go-input > input[type=text],
.paginationjs.paginationjs-theme-yellow .paginationjs-pages li {
  border-color: #ec971f;
}

.paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type=button]:hover {
  background-color: #55a555;
}

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a {
  color: #ec971f;
}

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a:hover {
  background: #fdf5e9;
}

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li.active > a {
  background: #ec971f;
  color: #fff;
}

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}

.paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type=button] {
  background: #ec971f;
  border-color: #ec971f;
  color: #fff;
}

.paginationjs.paginationjs-theme-red .paginationjs-go-input > input[type=text],
.paginationjs.paginationjs-theme-red .paginationjs-pages li {
  border-color: #c9302c;
}

.paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type=button]:hover {
  background-color: #eea135;
}

.paginationjs.paginationjs-theme-red .paginationjs-pages li > a {
  color: #c9302c;
}

.paginationjs.paginationjs-theme-red .paginationjs-pages li > a:hover {
  background: #faeaea;
}

.paginationjs.paginationjs-theme-red .paginationjs-pages li.active > a {
  background: #c9302c;
  color: #fff;
}

.paginationjs.paginationjs-theme-red .paginationjs-pages li.disabled > a:hover {
  background: 0 0;
}

.paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type=button] {
  background: #c9302c;
  border-color: #c9302c;
  color: #fff;
}

.paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type=button]:hover {
  background-color: #ce4541;
}

.paginationjs .paginationjs-pages li.paginationjs-next {
  border-right: 1px solid #aaa\9 ;
}

.paginationjs .paginationjs-go-input > input[type=text] {
  line-height: 28px\9 ;
  vertical-align: middle\9 ;
}

.paginationjs.paginationjs-big .paginationjs-pages li > a {
  line-height: 36px\9 ;
}

.paginationjs.paginationjs-big .paginationjs-go-input > input[type=text] {
  height: 36px\9 ;
  line-height: 36px\9 ;
}

/*# sourceMappingURL=Shop.css.map */
